#gendoc_widget .widget-wrap {
    background: white;
}

#gendoc_widget .widget-wrap .header {
    padding: 5px;
    background: rgb(86, 94, 104);
    color: white;
}

#gendoc_widget .widget-wrap .documents-wrapper {
    padding: 5px;
}

#gendoc_widget .widget-wrap .documents-wrapper .row {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
}

#gendoc_widget .widget-wrap .documents-wrapper .row:last-child {
    border-bottom: none;
}

#gendoc_widget .widget-wrap .templates-wrapper {
    padding: 5px;
}

#gendoc_widget .widget-wrap .templates-wrapper .row {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
}

#gendoc_widget .widget-wrap .templates-wrapper .row:last-child {
    border-bottom: none;
}

#gendoc_widget .widget-wrap .w-icon {
    margin: 0 3px;
    background-image: url('./../images/custom_icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    opacity: 0.5;
}

#gendoc_widget .widget-wrap .w-icon:hover {
    opacity: 1;
    cursor: pointer;
}

#gendoc_widget .widget-wrap .w-icon-word {
    width: 16px;
    height: 16px;
    background-position: 0 -34px;
}

#gendoc_widget .widget-wrap .w-icon-pdf {
    width: 16px;
    height: 16px;
    background-position: 0 -50px;
}

#gendoc_widget .widget-wrap .w-icon-download {
    width: 16px;
    height: 16px;
    background-position: 0 -18px;
}

#gendoc_widget .widget-wrap .w-icon-delete {
    width: 16px;
    height: 16px;
    background-position: 0 -66px;
}

#gendoc_widget .overlay-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    opacity: 0.5;
}

#gendoc_widget .spinner-center {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(76, 139, 247);
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    border-top-color: white;
    border-left-color: white;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#gendoc_widget_choose-contact .contact-choose {
    border-top: solid 1px #eee;
    font-size: 0;
    line-height: 0;
    text-align: justify;
}

#gendoc_widget_choose-contact .contact-choose:last-child {
    border-bottom: solid 1px #eee;
}

#gendoc_widget_choose-contact .contact-choose:after {
    content: '';
    width: 100%;
    display: inline-block;
}

#gendoc_widget_choose-contact .contact-choose-title {
    font-size: 16px;
    line-height: normal;
    display: inline-block;
    padding: 10px;
}

#gendoc_widget_choose-contact .contact-choose-action {
    font-size: 14px;
    line-height: normal;
    display: inline-block;
}

#gendoc_widget_choose-contact .contact-choose-button {
    padding: 5px 10px;
}

#gendoc_widget_choose-contact h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}