<div class="wrapper">
    <div class="widget-wrap">
        <div class="documents-wrapper">
            {% for document in documents %}
                <div class="row">
                    <span class="row-name">{{ document.filename }}</span>
                    <i class="w-icon document-download" data-url="{{ document.url }}"></i>
                    <a class="w-icon w-icon-word" href="{{ document.url }}"></a>
                </div>
            {% endfor %}
        </div>
        <div class="templates-wrapper">
            {% for template in templates %}
                <div class="row">
                    <span class="row-name">{{ template.filename }}</span>
                    <i class="w-icon w-icon-word" data-url="{{ template.url }}"></i>
                    <a class="w-icon w-icon-word" href="{{ template.url }}"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="overlay-loader" style="display: none">
        <div class="loader-bg"></div>
        <div class="loader"></div>
    </div>
</div>s