<div class="contact-choose-wrapper">
    <h2>{{ i18n('templates.choose_contact.title') }}</h2>

    <div class="contact-choose-list">
        {% for contact in contacts %}
            <div class="contact-choose">
                <div class="contact-choose-title">
                    {{ contact.name }}
                </div>
                <div class="contact-choose-action">
                    <button class="button-input button-input_blue contact-choose-button"
                            data-id="{{ contact.id }}"
                    >
                        {{ i18n('templates.choose_contact.choose') }}
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>