<div id="modal-contacts">
    <div class="header-modal">Выберите контакт</div>
    <div class="rows-modal">
        {% for contact in contacts %}
            <div class="row-modal">
                <span style="vertical-align: sub;">{{ contact.name }}</span>
                <button class="btn-modal right" data-id="{{ contact.id }}">Выбрать</button>
            </div>
        {% endfor %}
    </div>
</div>