<div class="row">
    {% if document.ext == ".pdf" %}
        <i class="w-icon w-icon-pdf" style="float: left; opacity: 1;"></i>
    {% else %}
        <i class="w-icon w-icon-word" style="float: left; opacity: 1;"></i>
    {% endif %}
    <span class="row-name">{{ document.name }}</span>
    <i class="w-icon w-icon-delete document-delete" data-id="{{ document.ID }}"></i>
    <i class="w-icon w-icon-download document-download" data-url="{{ document.url }}"></i>
</div>