<div class="header">Сформированные документы</div>
<div class="documents-wrapper">
    {% for document in documents %}
        {% include base_templates ~ 'document.twig' with {document} %}
    {% endfor %}
</div>
<div class="header">Шаблоны</div>
<div class="templates-wrapper">
    {% for template in templates %}
        <div class="row">
            <span class="row-name">{{ template.name }}</span>
            <i class="w-icon w-icon-pdf generate-template" data-id="{{ template.ID }}" data-type="pdf"></i>
            <i class="w-icon w-icon-word generate-template" data-id="{{ template.ID }}" data-type="word"></i>
        </div>
    {% endfor %}
    {% if templates|length == 0 %}
        <div style="text-align: center;font-size: 12px;">добавьте шаблоны в настройках виджета</div>
    {% endif %}
</div>